* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    background: #eab5b6;
}

header {
    background: #e96389;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.wrapper-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    display:flex;
    height:650px;
    width: 400px;
    background: rgb(248, 249, 243);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(190, 39, 52, 0.2);
    text-align: center;
    padding: 20px;
    flex-direction:column;
}

.card img {
    align:center;
    width: 300px;
    height: 350px;
    object-fit: contain;
}

.card h2 {
    margin: 15px 0;
    font-size: 28px;
}

.price {
    font-size: 24px;
    margin: 10px 0;
}

.rating {
    color: goldenrod;
    margin: 15px 0;
    font-size: 20px;
}

.rating span {
    color: #555;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #111827;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #161616;
}

.card-content{
    flex-grow:1;
    display:flex;
    flex-direction:column;
}