/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#050816,#0b1120,#111827);
    min-height:100vh;
}

/* Container */
.container{
    width:100%;
    padding:20px 8%;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(12px);
    border:1px solid rgba(255,255,255,0.08);
    border-radius:18px;
    padding:15px 35px;
    box-shadow:0 8px 25px rgba(0,0,0,0.35);
}

/* Logo */
.logo img{
    width: 100px;
    cursor:pointer;
    transition:.4s;
    border-radius:50%;
    object-fit:cover;
}


/* Navigation */
.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links li a{
    position:relative;
    text-decoration:none;
    color:#fff;
    font-size:16px;
    font-weight:500;
    transition:.3s;
}

/* Hover Underline */
.nav-links li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0%;
    height:3px;
    background:#2563eb;
    border-radius:10px;
    transition:.4s;
}

.nav-links li a:hover{
    color:#3b82f6;
}

.nav-links li a:hover::after{
    width:100%;
}

/* Login Button */
.login-btn{
    padding:12px 28px;
    background:#2563eb;
    color:#fff;
    border:none;
    border-radius:30px;
    font-size:15px;
    font-weight:600;
    cursor:pointer;
    transition:.4s;
    box-shadow:0 0 15px rgba(37,99,235,.4);
}

.login-btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
    box-shadow:0 0 25px rgba(37,99,235,.7);
}

/* Responsive */
@media(max-width:900px){

    .navbar{
        flex-direction:column;
        gap:20px;
        padding:20px;
    }

    .nav-links{
        flex-direction:column;
        text-align:center;
        gap:18px;
    }

    .login-btn{
        width:180px;
    }
}